Overlay/Info
{
    zorder 506
    container Panel(Info/Container)
    {
        metrics_mode relative
        top 0.0
        left 0.0
        width 1.0
        height 1.0

        element TextArea(Info/Notification)
        {
            metrics_mode relative
            top 0.005
            left 0.995
            width 0.0
            height 0.05
            char_height 0.03
            colour_top 1 1 1
            colour_bottom 1 1 1
            alignment right
        }

        element TextArea(Info/Instruction)
        {
            metrics_mode relative
            top 0.97
            left 0.01
            width 0.0
            height 0.05
            char_height 0.03
            colour_top 1 1 1
            colour_bottom 1 1 1
        }
    }
}
