Overlay/PlayState
{
    zorder 500
    container Panel(PlayState/Background)
    {
        metrics_mode relative
        top 0.0
        left 0.0
        width 1.0
        height 1.0

        material PlayState
    }
}