allhardwarobjects.txt
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
hardwar
include/config.h
bin/ogre.cfg
names
lib
bin/ogre.cfg
trunk/bin/ogre.cfg
default.pot
bin/ogre.cfg
lib
game.cfg
bin/logs/mygui.log
bin/logs/ogre.log
docs
tests
bin/screenshots/*
bin/client
bin/server
*.vcxproj*
*.sdf*
*.suo*
*.sln
*.dir*
*Release*
*Debug*
ipch
